  <div id="foot" class="foot noprint">
      <footer>
          <div class="grad"></div>

          <div class="links network text-center">
              <a href="http://daedaluswallet.io/" target="_blank">Daedalus Wallet</a>  |
              <a href="" target="_blank">Cardano SL Statistics</a> |
              <a href="" target="_blank">Cardano SL Explorer</a> |
              <a href="" target="_blank">Cardano ADA Faucet</a> |
              <a href="http://cardano-docs.rtfd.io" target="_blank">Cardano SL Documentation</a>
          </div>

          <hr />

          <div class="container">

            <div class="footer">
              <div class="row">
              <div class="col-sm-5 cardano logo">

                <a href="https://iohk.io/projects/cardano/" target="_blank" class=""><img src="http://static.iohk.io/cardano/images/cardano-white-120.png" alt="" width="40" height="36" /> <span>Cardano </span></a>

                      <p class="uppercase supported_project"><a href="https://iohk.io/projects/cardano/" target="_blank">IOHK supported project</a></p>
              </div>
              <div class="col-sm-7 text-right links">

                  <a href="" target="_blank">About</a> |
                  <a href="" target="_blank">Github</a> |
                  <a href="" target="_blank">Twitter</a> |
                  <a href="" target="_blank">Privacy policy</a> |
                  <a href="" target="_blank">Terms of Service</a>

              </div>
            </div>
          </div>

          <p class="note">Privacy notice: We store your IP address to prevent abuse of our service. Your IP address is 194.187.251.60.</p>

          </div>
      </footer>
  </div>
