


  <div id="foot" class="foot noprint">
      <footer>
          <div class="grad"></div>

          <div class="links network text-center">
              <a href="//daedaluswallet.io/" target="_blank">Daedalus Wallet</a>  |
              <!--<a href="" target="_blank">Cardano SL Statistics</a> |
              <a href="" target="_blank">Cardano SL Explorer</a> |-->
              <a href="//whycardano.com/" target="_blank">Why&nbsp;Cardano</a> |
              <a href="//cardanoroadmap.com/" target="_blank">Cardano&nbsp;Roadmap</a> |
              <a href="//tada.iohk.io" target="_blank">Cardano ADA Faucet</a> |
              <a href="//cardano-docs.iohk.io" target="">Cardano SL Documentation</a>
          </div>

          <hr />

          <div class="container">

            <div class="footer">
                    <div class="row">
                    <div class="col-sm-8 daedalus logo">



                      <p class="uppercase">
                        <a href="//iohk.io/projects/cardano/" target="_blank" class="cardano"><img src="//static.iohk.io/cardano/images/cardano-white-120.png" alt="" width="40" height="36" /> <span>Cardano </span></a>
                        <span class="split"></span>
                        <a href="//iohk.io/projects/cardano/" target="_blank" class="support">IOHK supported project</a>
                        <a href="//iohk.io/" target="_blank" class="iohk"><img src="//static.iohk.io/logo/iohk-share-logo-white.png" alt="" width="130" height="30" /></a>
                      </p>



                    </div>
                    <div class="col-sm-4 text-right links">

                        <a href="//iohk.io/projects/cardano/" target="_blank">About</a> |
                        <a href="//github.com/input-output-hk/daedalus" target="_blank">Github</a> |
                        <a href="//en.wikipedia.org/wiki/Creative_Commons_license" target="_blank">CC License</a>

                    </div>
                  </div>
                </div>


          </div>
      </footer>
  </div>

  <script type="text/javascript" src="/js/app/app.js"></script>
  <script type="text/javascript" src="/js/app/base.1.js"></script>
  <script type="text/javascript" src="/js/app/searcher.js"></script>
  <script>

  $(".navbar-side li").each(function(){
    var txt = $(this).text().trim();
    if(txt.length == 0){
      $(this).remove();
    }
  });

  </script>
